div#content {
	padding-top: 74px;
}

div#content div#banner {
    background-color: #3995c4;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

div#banner div#banner-content {
    margin: 0 auto;
    width: 960px;
}

div#banner div#banner-content span {
    margin-right: 20px;
}

div#content div#main-container {
    color: #565656;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    width: 960px;
}

div#main-container div.section {
    margin-bottom: 40px;
}

div#main-container div#sidebar {
    margin-left: 660px;
}

div#sidebar div.section ul.inline img {
    max-height: 32px;
    max-width: 32px;
}

div#main-container div#main-content {
    float: left;
    width: 640px;
}

div#main-content div#detail-container {
    margin-bottom: 40px;
}

/* Style for News Detail */

/* Style for Teacher Detail */
div#sidebar ul.teachers {
    list-style: none;
    margin-left: 0;
    overflow: hidden;
}

div#sidebar li.teacher div.avatar {
    float: left;
}

div#sidebar li.teacher div.avatar img {
    max-height: 48px;
    max-width: 48px;
}

div#sidebar li.teacher div.introduction {
    margin-left: 64px;
}

div#detail-container div#overview {
    margin-bottom: 40px;
    overflow: hidden;
}

div#overview div#avatar {
    float: left;
}

div#overview div#overview-content {
    margin-top: 20px;
    margin-left: 120px;
}

/* Style for Course Detail */
div#detail-container div.section div.content {
    margin-left: 30px;
    margin-right: 30px;
}

div#detail-container div#teacher-introduction {
    overflow: hidden;
}

div#detail-container div#teacher-introduction div#avatar {
    float: left;
}

div#detail-container div#teacher-introduction div.content {
    margin-top: 20px;
    margin-left: 120px;
}