div#content {
	padding-top: 74px;
}

div#content div#banner {
    background-color: #3995c4;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

div#banner div#banner-content {
    margin: 0 auto;
    width: 960px;
}

div#banner div#banner-content span {
    margin-right: 20px;
}

div#content div#main-container {
    color: #565656;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    width: 960px;
}

div#main-container div#sidebar {
    margin-left: 660px;
}

div#main-container div#main-content {
    float: left;
    width: 640px;
}

div#main-content div#detail-content {
    margin-bottom: 40px;
}

/* Style for News Detail */
