div#content {
    padding-top: 74px;
}

div#content div#banner {
    background-color: #3995c4;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

div#banner div#banner-content {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}

div#banner-content div#slogan {
    float: left;
}

div#banner-content form#search {
    margin-top: 50px;
}

div#content div#main-container {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 960px;
}

div#main-container div#main-content {
    overflow: hidden;
}

div#main-content div#sidebar {
    float: left;
    width: 300px;
}

div#sidebar div.section {
    margin-bottom: 10px;
}

div#sidebar div.section input[type=submit] {
    margin-left: 168px;
}

div#main-content div#course-content {
    margin-left: 320px;
}

div#course-content div.block {
    border: 1px solid #ebeef1;
    margin-bottom: 20px;
    padding: 8px;
    overflow: hidden;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

div#course-content div.block a {
    text-decoration: none;
}

div#course-content div.block div.icon {
    float: left;
}

div#course-content div.block div.content {
    color: #8e959b;
    font-size: 13px;
    margin-left: 50px;
}

div#course-content div.block div.content h4 {
    color: #2f3536;
}

div#course-content div.block div.content span {
    margin-right: 20px;
}

div#course-content div.block div.content i {
    opacity: .6;
}

div#course-content div.block div.icon {
    padding: 8px 0 0 4px;
}

div#course-content div.block div.meta {
    margin-bottom: 10px;
}

div#course-content div.block div.meta td {
    padding-right: 10px;
}