div#content {
	margin: 0 auto;
	width: 960px;
}

div#content div#banner {
	background: url('../../img/banner-courses.jpg') no-repeat;
	border-bottom: 1px solid #8a8c8f;
	height: 120px;
}

div#content div#banner div#title {
	padding-top: 30px;
	padding-left: 50px;
}

div#content div#banner div#title h1 {
	color: #1790c7;
}

div#content div#banner div#title h2 {
	padding-left: 20px;
}

div#content div#filter {
	background-color: #e6f4fB;
	border-bottom: 1px solid #999;
	padding: 20px 25px;
	overflow: auto;
	text-align: right;
}

div#content div#main-content {
	background-color: #fff;
	padding: 25px 25px;
}

div#main-content div#courses div.section {
	background-color: #fff;
	border: 1px solid #949494;
	margin-bottom: 30px;
	width: 910px;
	height: 136px;
	overflow: hidden;
}

div.section div.left {
	float: left;
	padding: 15px;
	width: 600px;
}

div.section div.left div.brand {
	height: 29px;
	width: 30px;
	position: absolute;
}

div.section div.left div.brand.brand-new {
	background: url('../../img/brand-new.png') no-repeat;
}

div.section div.left div.brand.brand-hot {
	background: url('../../img/brand-hot.png') no-repeat;
}

div.section div.left div.fieldset {
	min-height: 75px;
	padding: 0 0 0 45px;
	margin: 0;
}

div.section div.left div.fieldset div.title {
	font-size: 18px;
	padding-bottom: 10px;
}

div.section div.left div.fieldset div.brief {
	color: #565656;
	font-size: 12px;
}

div.section div.left div.details {
	background-color: #f2f2f2;
	font-size: 13px;
	margin-left: 30px;
	padding-left: 15px;
	line-height: 30px;
	overflow: hidden;
	height: 30px;
}

div.section div.right {
	float: right;
	border-left: 1px solid #949494;
	height: 136px;
	width: 262px;
}