div#content {
	background-color: #fff;
	margin: 0 auto;
	padding: 20px;
	overflow: auto;
	width: 960px;
}

div#content div#introduction {
	float: left;
	margin-right: 20px;
	width: 620px;
}

div#introduction div.section {
	overflow: hidden;
	margin-bottom: 20px;
}

div.section p {
	margin-left: 30px;
}

div.section li {
	margin-left: 30px;
	margin-bottom: 10px;
}

div.section div#avatar {
	float: left;
	margin-right: 20px;
	height: 96px;
	width: 96px;
}

div.section div#brief {
	float: left;
	line-height: 144%;
	padding-top: 30px;
}

div.section div#brief div#name {
	font-size: 24px;
	margin-bottom: 10px;
}

div.section div#brief div#company {
	color: #565656;
}

div.section div#reserve {
	float: right;
	margin-top: 40px;
}