div#header {
    background-color: transparent;
}

div#slider {
    text-align: center;
    overflow: hidden;
    width: 100%;
}

div#slider img {
    max-height: 100%;
    max-width: 100%;
}

div#quotes {
    background-color: #161f2a;
    color: #d8d8d8;
    padding: 4px;
}

div#search-box {
    margin: 0 auto;
    position: relative;
    top: -30px;
    left: 0px;
    width: 480px;
}

div#search-box input {
    height: 40px;
}

div#search-box button {
    height: 50px;   
}

div#quotes-content {
    margin: 20px auto;
    padding-bottom: 30px;
    width: 960px;
}

div#quotes-content div.avatar {
    float: left;
    max-height: 80px;
    max-width: 80px;
}

div#quotes-content div.quote {
    margin-left: 100px;
}

div#quotes-content div.quote p.blockquote {
    color: #6d8089;
    font-size: 20px;
    line-height: 28px;
}

div#quotes-content div.quote p.introduction {
    color: #d8d8d8;
    font-size: 14px;
}

div.section {
    margin: 0 auto;
    padding: 20px 0 20px 0;
    width: 960px;
}

div.section h3 {
    text-align: center;
    margin-bottom: 40px;
}

div.section div.block {
    border: 1px solid #ebeef1;
    margin-bottom: 20px;
    padding: 8px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

div.section div.block div.icon {
    float: left;
    padding: 8px 0 0 4px;
}

div.section div.block div.content {
    color: #8e959b;
    font-size: 13px;
    margin-left: 50px;
}

div.section div.block div.content h4 {
    color: #2f3536;
}

div.section div.block div.content i {
    opacity: .6;
}

div#news {
    background-color: #dce1e6;
}

div#partners-content {
    margin: 0 auto;
    padding: 20px 0 20px 0;
    text-align: center;
    width: 960px;
}

div#partners-content ul.inline {
    margin: 20px 0 20px 0;
}

div#partners-content ul.inline li {
    margin-right: 40px;
}