div#container div#content {
	background-color: #fff;
	margin: 0 auto;
	width: 960px;
}

div#content div#introduction {
	background: url('../img/banner-accounts.jpg');
	border-bottom: 1px solid #8a8c8f;
	height: 120px;
}

div#content div#introduction div#title {
	padding-top: 30px;
	padding-left: 50px;
}

div#content div#introduction div#title h1 {
	color: #1790c7;
}

div#content div#introduction div#title h2 {
	padding-left: 20px;
}

div#content div#login-container {
	padding: 20px 20px 40px 20px;
	overflow: auto;
}

div#login-container div#main {
	float: left;
	margin-top: 20px;
	padding-right: 40px;
	width: 560px;
}

div#login-container div#main div.field {
	margin-bottom: 20px;
}

div#login-container div#main label {
	font-weight: bold;
}

div#login-container div#main input[type="text"],
div#login-container div#main input[type="password"] {
	padding: 10px;
	width: 540px;
}

div#login-container div#main label[for="password"] {
	float: left;
}

div#login-container div#main span#forgot-password {
	font-size: 12px;
	float: right;
}

div#login-container div#main div#remember-me {
	font-size: 12px;
	float: left;
	padding-top: 10px;
}

div#login-container div#main div#login-control {
	float: right;
}

div#login-container div#complementary {
	float: right;
	margin-top: 20px;
	width: 300px;
}

div#complementary div.section {
	margin-bottom: 40px;
}