html, body {
    background-color: #f5f5f5;
    min-width: 960px;
    margin: 0 auto;
    padding: 0;
}

div#header {
    background-color: #3eafe8;
    font-size: 16px;
    max-height: 74px;
    min-width: 960px;
    padding: 16px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 32767;
}

div#header-container {
    margin-left: 32px;
    margin-right: 32px;
}

div#header div#logo {
    float: left;
    margin-top: 8px;
    margin-right: 16px;
}

div#header div#navigation {
    float: left;
    padding-top: 12px;
    overflow: hidden;
}

div#header div#accounts {
    float: right;
    padding-top: 8px;
}

div#header div#navigation a {
    color: #fff;
    font-weight: 600;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

div#header div#navigation a.active {
    background-color: rgba(22,31,42,0.3);
}

div#header div#navigation a:hover,
div#header div#navigation a.active:hover {
    background-color: #182630;
}

div#container {
    background-color: #f5f5f5;
}

div#footer {
    background-color: #121418;
    color: #6d8089;
    padding: 20px 0 20px;
    width: 100%;
}

div#footer-container {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}

div#footer-container a {
    color: #6d8089;
    text-decoration: none;
}

div#footer-container h5 {
    color: #d1dbe7;
    margin-bottom: 20px;
}

div#footer-container ul {
    list-style: none;
    margin: 0;
}

div#copyright {
    border-top: 1px solid #565656;
    font-size: 12px;
    margin-top: 40px;
    padding-top: 10px;
}

div#copyright div.span4 {
    text-align: right;
}
