html, body {
	font-family: "Microsoft YaHei", "Sogoe UI";
	margin: 0;
	padding: 0;
}

div.container {
	margin: 0 auto;
	width: 960px;
}

div#header {
	background: url('../../img/homepage/header-background.jpg') no-repeat right top #09bde2;
	color: #fff;
	height: 27px;
	padding: 7px 0px 0px 0px;
	text-align: right;
}

div#header ul.inline {
	margin-right: 20px;
}

div#header ul.inline > li > a {
	color: #fff;
	font-size: 12px;
}

div#guide {
	height: 616px;
	position: relative;
}

div#guide div.full-width {
	background: url('../../img/homepage/guide-background.jpg') no-repeat center;
	height: 616px;
	position: relative;
	z-index: 16;
}

div#guide div#introduction {
	margin: 0 auto;
}

div#guide div#introduction div#logo {
	padding-top: 20px;
}

div#guide div#introduction div#slogan {
	color: #fff;
	margin-top: 100px;
}

div#guide div#introduction div#slogan > h4 {
	margin-left: 100px;
}

div#guide div#selector-container {
	background: url('../../img/homepage/transparent.png');
	border: 1px solid #69ab3e;
	color: #333;
	margin: 60px auto;
	-webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
	   -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
			box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
}

div#guide div#selector-container div#selector {
	padding: 10px;
}

div#guide div#selector-container div#selector h4 {
	text-align: center;
}

div#guide div#selector-container div#selector div.row-fluid {
	background: transparent;
	border: 2px solid #aecf99;
	overflow: hidden;
	padding: 10px 0;
	text-align: center;
}

div#guide div#selector-container div#selector div.block {
	border: 1px solid #c8c8c8;
	margin: 20px 20px 10px;
	padding: 5px 0 20px;
	position: relative;
	text-align: center;
}

div#guide div#selector-container div#selector div.block > h4 {
	color: #00bce4;
	margin-top: -15px;
}

div#guide div#selector-container div#selector div.block > h4 > span {
	color: #8cc63f;
}

div#guide div#selector-container div#selector div.block > p {
	color: #666;
	margin-top: 20px;
}

div#guide div.left-background {
	background-color: #6bbad9;
	top: 0;
	left: 0;
	position: absolute;
	height: 616px;
	width: 50%;
}

div#guide div.right-background {
	background-color: #a9dcf5;
	top: 0;
	right: 0;
	position: absolute;
	height: 616px;
	width: 50%;
}

div#navigation {
	background-color: #000;
	overflow: hidden;
	padding: 10px 0;
	top: 0;
	width: 100%;
	z-index: 128;
	-webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
	   -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
			box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
}

div#navigation ul.inline {
	float: left;
	padding-top: 5px;
}

div#navigation ul.inline > li {
	margin-right: 20px;
}

div#navigation ul.inline > li > a {
	color: #999;
	text-decoration: none;
}

div#navigation form#search {
	float: right;
}

div#content div.section {
	padding: 10px 0;
}

div#content div.section ul {
	margin-left: 0;
	overflow: hidden;
}

div#content div.section li a {
	color: #333;
	text-decoration: none;
}

div#content div.section li.lecture {
	border: 1px solid #ccc;
	margin: 0 10px 20px 0;
	padding: 15px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

div#content div.section li.lecture h4 {
	height: 22px;
	overflow: hidden;
}

div#content div.section li.lecture ul.inline {
	color: #666;
	margin-bottom: 10px;
}

div#content div.section li.lecture p.introduction {
	font-size: 13px;
	height: 40px;
	overflow: hidden;
}

div#content div.section ul.teachers {
	clear: both;
    margin: 0;
    overflow: hidden;
}

div#content div.section li.teacher a {
    color: #333;
    text-decoration: none;
}

div#content div.section li.teacher {
    color: #565656;
    float: left;
    font-size: 13px;
    list-style: none;
    margin: 0 10px 10px 0;
    width: 150px;
}

div#content div.section li.teacher div.avatar {
	margin: 0 auto;
	max-height: 150px;
	max-width: 150px;
}

div#content div.section li.teacher div.company {
    margin-bottom: 10px;
    overflow: hidden;
    height: 40px;
}

div#content div.section li.teacher div.field {
    margin-bottom: 10px;
    overflow: hidden;
    height: 20px;
}

div#content div.section li.post {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 15px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

div#content div.section li.post h4 {
	height: 20px;
	margin-top: 0;
	overflow: hidden;
}

div#content div.section li.post h4 > a {
	color: #333;
	text-decoration: none;
}

div#content div.section li.post ul {
	color: #666;
	font-size: 13px;
	margin-bottom: 10px;
}

div#content div.section li.post p.introduction {
	color: #666;
	font-size: 13px;
	height: 60px;
	overflow: hidden;
}

div#content div.section.light-background {
	background-color: #f7f7ef;
}

div#content div#map-image {
	color: #fff;
	height: 630px;
	padding: 0;
}

div#content div#map-image div#slogan-container {
	background: url('../../img/homepage/map-image.png') no-repeat center;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	height: 630px;
	z-index: 16;
}

div#content div#map-image div#slogan {
	margin-top: 240px;
}

div#content div#map-image div.left-background {
	background-color: #04bcde;
	left: 0;
	position: absolute;
	height: 630px;
	width: 50%;
}

div#content div#map-image div.right-background {
	background-color: #6eb444;
	right: 0;
	position: absolute;
	height: 630px;
	width: 50%;
}

div#content div#manual div#manual-content h4 {
	border-top: 2px dotted #ccc;
	border-bottom: 2px dotted #ccc;
	margin-bottom: 20px;
	padding: 20px 0;
	text-align: center;
}

div#content div#manual div#recipient-manual h4 > span,
div#content div#manual div#provider-manual h4 > span {
	font-size: 24px;
}

div#content div#manual div#recipient-manual h4 > span {
	color: #00bce4;
}

div#content div#manual div#provider-manual h4 > span {
	color: #6db33f;
}

div#content div#manual div#recipient-manual,
div#content div#manual div#provider-manual {
	position: relative;
}

div#content div#manual div.manual-block {
	text-align: center;
	margin-bottom: 40px;
}

div#content div#manual div.manual-block h5 {
	font-size: 16px;
}

div#content div#manual div#recipient-manual div.manual-block h5 {
	color: #00bce4;
}

div#content div#manual div#provider-manual div.manual-block h5 {
	color: #6db33f;
}

div#content div#manual div.manual-block h5 i.fa {
	font-size: 20px;
}

div#content div#manual div.manual-block p {
	color: #999;
}

div#content div#manual div.manual-block a {
	color: #666;
	text-decoration: none;
}

div#content div#manual div#responsive-ready {
	color: #808079;
	padding: 30px 0;
}

div#content div#manual div#responsive-ready h4 {
	margin-bottom: 30px;
	text-align: center;
}

div#content div#manual div#responsive-ready img {
	display: block;
	margin: 0 auto;
}

div#content div#sign-up ul.inline {
	margin-top: 10px;
}

div#footer {
	color: #808080;
	font-size: 12px;
	margin: 0 auto;
	padding: 20px 0 10px;
}

div#footer a {
	color: #00aacc;
	text-decoration: none;
}

div#footer ul {
	list-style: none;
}

div#footer ul.inline {
	font-size: 14px;
}

div#footer div#introduction img {
	border-right: 1px solid #808080;
	float: left;
	max-width: 100px;
	margin-right: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}

div#footer div.span4 {
	text-align: right;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    div.container {
        width: 768px;
    }

    div#content div.section li.teacher {
	    width: 143px;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#guide div#introduction div#slogan {
		margin-top: 40px;
	}

	div#guide div#selector-container {
		margin-top: 20px;
	}

	div#navigation ul.inline,
	div#navigation form#search {
		float: none;
		text-align: center;
	}

	div#content div#sign-up div.span8,
	div#content div#sign-up div.span4 {
		text-align: center;
	}

	div#content div#sign-up div.span4 ul.inline {
		display: inline;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    div.container {
        width: 480px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    div.container {
        width: 320px;
    }
}