html, body {
	font-family: "Microsoft YaHei", "Sogoe UI";
	margin: 0;
	padding: 0;
}

div#header {
	background: url('../../img/homepage/header-background.jpg') no-repeat right top #09bde2;
	color: #fff;
	height: 27px;
	padding: 7px 0px 0px 0px;
	text-align: right;
}

div#header ul.inline {
	margin-right: 20px;
}

div#header ul.inline > li > a {
	color: #fff;
	font-size: 12px;
}

div#guide {
	background: url('../../img/homepage/guide-background.jpg') no-repeat center;
	height: 616px;
}

div#guide div#introduction {
	margin: 0 auto;
	width: 70%;
}

div#guide div#introduction div#logo {
	padding-top: 20px;
}

div#guide div#introduction div#slogan {
	color: #fff;
	margin-top: 100px;
}

div#guide div#introduction div#slogan > h4 {
	margin-left: 100px;
}

div#guide div#selector {
	background: url('../../img/homepage/transparent.png');
	border: 1px solid #69ab3e;
	color: #333;
	margin: 60px auto;
	padding: 10px;
	width: 70%;
	-webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
	   -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
			box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
}

div#guide div#selector div#selector-inner {
	background: transparent;
	border: 2px solid #aecf99;
	overflow: hidden;
	padding: 10px 0;
	position: relative;
	text-align: center;
	height: 180px;
}

div#selector div#selector-inner div.span6 {
	margin-left: 5px;
	margin-right: 5px;
}

div#selector div#selector-inner div.block {
	border: 1px solid #c8c8c8;
	margin: 20px;
	padding: 5px 0 20px;
	position: relative;
	text-align: center;
}

div#selector div#selector-inner div.block > h4 {
	color: #00bce4;
	margin-top: -15px;
}

div#selector div#selector-inner div.block > h4 > span {
	color: #8cc63f;
}

div#selector div#selector-inner div.block > p {
	color: #666;
	margin-top: 20px;
}

div#navigation {
	background-color: #000;
	padding: 10px 0;
	-webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
	   -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
			box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .25);
}

div#navigation ul.inline {
	color: #999;
	margin: 0 auto;
	width: 70%;
}

div#navigation ul.inline > li {
	margin-right: 20px;
}

div#footer {
	color: #808080;
	font-size: 12px;
	margin: 0 auto;
	padding: 20px 0 10px;
	width: 70%;
}

div#footer a {
	color: #00aacc;
	text-decoration: none;
}

div#footer ul {
	list-style: none;
}

div#footer ul.inline {
	font-size: 14px;
}

div#footer div#introduction img {
	border-right: 1px solid #808080;
	float: left;
	max-width: 100px;
	margin-right: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}

div#footer div.span4 {
	text-align: right;
}