div#content {
	padding-top: 74px;
}

div#content div#banner {
	background-color: #3995c4;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
}

div#banner div#banner-content {
	margin: 0 auto;
	width: 960px;
}

div#content div#main-container {
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 960px;
}

div#main-container div.span8 {
	margin-left: 0;
}

div#main-container div.span8 div.section {
	margin-bottom: 10px;
}

div#main-container div.span8 div.section#controls {
	margin-left: 0;
}

div#main-container div.span8 div.section label {
	font-weight: bold;
}

div#main-container div.span8 div.section form,
div#main-container div.span8 div.section input,
div#main-container div.span8 div.section select:last-child {
	margin-bottom: 0px;
}

div#main-container div.span8 div.section span {
	color: #666;
	font-size: 12px;
}

div#main-container div.span8 div.section select#region {
	margin-right: 15px;
}
