div#container div#content {
    background-image: url('../../img/accounts/login-background.jpg');
    background-repeat: no-repeat;
    height: 520px;
    margin: 0;
    overflow: hidden;
}

div#container div#content div#login-container {
    margin-top: 40px;
}

div#container div#content div#login-container form {
    border-bottom: 1px dotted #b3b3b3;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

div#container div#content div#login-container div#login-error {
    margin-bottom: 10px;
}

div#container div#content div#login-container h3 {
    color: #6db33f;
}

div#container div#content div#login-container label {
    font-weight: bold;
}

div#container div#content div#login-container span#forget-password,
div#container div#content div#login-container label[for=remember-me] {
    font-size: 12px;
    font-weight: normal;
}

div#container div#content div#login-container span#forget-password {
    float: right;
}