div#content {
	padding-top: 74px;
}

div#content div#banner {
	background-color: #3995c4;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
}

div#banner div#banner-content {
	margin: 0 auto;
	width: 960px;
}

div#content div#main-container {
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 960px;
}

div#main-container div#introduction {
	margin-top: 60px;
	margin-left: 0;
	margin-right: 20px;
}

div#introduction div#features div.feature {
	overflow: hidden;
	margin-bottom: 60px;
}

div.feature div.icon {
	float: left;
}

div#introduction div#features div.icon img {
	max-height: 48px;
	max-width: 48px;
}

div#introduction div#features div.content {
	color: #717070;
	margin-left: 60px;
}

div#introduction div#features div.content p.title {
	color: #0e0e0e;
	font-size: 16px;
	font-weight: 400;
}

div#main-container div#register-container {
	background: #25292c;
	color: #fff;
	font-size: 12px;
	margin-top: -120px;
	border-radius: 4px;
}

div#register-container div#register-form {
	padding: 40px 20px;
}

div#register-form div.field {
	margin-bottom: 5px;
}

div#register-form div.field select {
	width: 338px;
}

div#register-form div.field input[type="text"],
div#register-form div.field input[type="password"] {
	width: 325px;
}