div#logo-sidebar img {
	max-width: 160px;
	margin-top: 10px;
}

div#reset-container {
	border-left: 1px solid #ccc;
}

div#reset-container form#reset-form,
div#reset-container div#email-sent,
div#reset-container div#invalid-confidential,
div#reset-container div#password-resetted {
	font-size: 13px;
	padding-left: 40px;
}

div#reset-container form#reset-form h3 {
	color: #333;
}