html, body {
	background-color: #e4e7ea;
	font-family: "Microsoft YaHei", "Sogoe UI";
	margin: 0;
	padding: 0;
}

select, 
input[type=text] {
	border-radius: 0;
	outline: none;
}

div#sidebar {
	background-color: #1d2939;
	border-color: #000;
	color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
}

div#sidebar div#logo {
	background-color: #fff;
	height: 36px;
	max-height: 36px;
	padding: 5px 20px;
	width: 200px;
}

div#sidebar div#logo img {
	max-height: 36px;
	max-width: 200px;
}

div#sidebar ul#sidebar-menu {
	margin-top: 30px;
	padding: 10px 15px;
}

div#sidebar ul#sidebar-menu li a {
	color: #fff;
	display: block;
	padding: 10px 15px;
	position: relative;
	text-decoration: none;
	border-radius: 4px;
}

div#sidebar ul#sidebar-menu li a:hover {
	background-color: #fff;
	color: #1d2939;
}

div#sidebar ul#sidebar-menu li.active a {
	background-color: #18bc9c;
	color: #fff;
}

div#sidebar ul#sidebar-menu li i {
	margin-right: 10px;
}

div#container {
	margin-left: 240px;
	overflow: hidden;
}

div#container div#header {
	background-color: #fff;
	border-left: 1px solid #eee;
	color: #636e7b;
	height: 46px;
	position: fixed;
	top: 0;
	right: 0;
	left: 240px;
	overflow: hidden;
	z-index: 256;
}

div#container div#header a.toggle {
	display: block;
	font-size: 22px;
	padding: 12px;
	text-decoration: none;
}

div#container div#header a#navbar-toggle {
	border-right: 1px solid #eee;
	color: #1d2939;
	float: left;
}

div#container div#header a.toggle:hover {
	background-color: #f7f7f7;
}

div#container div#header form#search {
	position: relative;
	float: left;
}

div#container div#header form#search input {
	border: 0;
	border-right: 1px solid #eee;
	outline: none;
	padding: 13px;
	width: 250px;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}

div#container div#header form#search i.fa-search {
	position: absolute;
	top: 15px;
	right: 15px;
}

div#container div#header ul.inline {
	float: right;
	margin: 0 20px 0 0;
	overflow: hidden;
}

div#container div#header ul.inline li {
	border-left: 1px solid #eee;
	padding: 0;
	position: relative;
}

div#container div#header ul.inline a {
	color: #333;
	display: block;
	text-decoration: none;
}

div#container div#header ul.inline span.badge {
	position: absolute;
	top: 2px;
	right: 0px;
}

div#container div#header ul.inline li#profile {
	padding: 15px 10px 5px;
}

div#container div#header ul.inline img {
	margin-left: 5px;
	max-height: 25px;
	max-width: 25px;
}

div#container div#content {
	margin-top: 46px;
	padding: 10px 15px;
}

div#container div#content div.alert {
	margin-bottom: 10px;
}

div#container div#content div.row-fluid ul#filter {
	margin: 10px 0 0 0;
}

div#container div#content div.row-fluid ul#filter > li {
	padding-left: 0;
}

div#container div#content div.row-fluid ul#filter a {
	text-decoration: none;
}

div#container div#content div.row-fluid div.pagination {
	margin: 5px 0 0;
}

div#container div#content table.table {
	background-color: #fff;
	box-shadow: 0 3px 0 rgba(12, 12, 12, 0.03);
	color: #636e7b;
	margin-top: 20px;
}

div#container div#content table.table thead {
	border-bottom: 2px solid #ddd;
	color: #444;
}

div#container div#content table.table tbody tr {
	cursor: pointer;
}

div#container div#content div.modal div.row-fluid {
	margin-bottom: 10px;
}

div#container div#content div.modal label {
	font-weight: bold;
	margin-top: 2px;
}

div#container div#content div.modal input {
	-webkit-border-radius: 4px;
	   	-moz-border-radius: 4px;
	        border-radius: 4px;
}

div#container div#content div.modal textarea {
	resize: none;
}

/* Styles for Posts Page */
div#container div#content ul#controls {
	margin-top: 10px;
}

div#container div#content ul#controls a {
	text-decoration: none;
}

div#footer {
	display: none;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	div#container div#header form#search {
		display: none;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#sidebar {
		display: none;
	}

	div#container {
		margin-left: 0;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}