div#content {
    padding-top: 74px;
}

div#content div#banner {
    background-color: #3995c4;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

div#banner div#banner-content {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}

div#banner-content div#slogan {
    float: left;
}

div#banner-content form#search {
    margin-top: 50px;
}

div#content div#main-container {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 960px;
}

div#main-container div#main-content {
    overflow: hidden;
}

div#main-content div#sidebar {
    float: left;
    width: 300px;
}

div#main-content div#requirement-content {
    margin-left: 320px;
}

div#requirement-content div.section {
    margin-bottom: 20px;
}

div#requirement-content div.section label {
    font-weight: bold;
}

div#requirement-content div.section input, 
div#requirement-content div.section select,
div#requirement-content div.section div.input-append {
    margin-bottom: 0px;
}

div#requirement-content div.section span {
    color: #666;
    font-size: 12px;
}

div#requirement-content div.section table#teacher-list {
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    margin-left: 0px;
    position: absolute;
    z-index: 32765;
}

div#requirement-content div.section table#teacher-list tr:hover {
    background-color: #e5e5e5;
}

div#requirement-content div.section table#teacher-list td {
    border-bottom: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
}

div#requirement-content div.section img {
    background-color: #53a93f;
    height: 40px;
    width: 40px;
    max-width: 40px;
    max-height: 40px;
}