div#container div#content ul#results > li.result {
	border-bottom: 1px dotted #ccc;
	list-style: none;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

div#container div#content ul#results > li.result h4 {
	height: 20px;
	margin-top: 0;
	overflow: hidden;
}

div#container div#content ul#results > li.result h4 > a {
	color: #333;
	text-decoration: none;
}

div#container div#content ul#results > li.result p.introduction {
	color: #666;
	height: 60px;
	overflow: hidden;
}