div#teacher div#overview {
	border-bottom: 1px dotted #d9d9d9;
	padding-bottom: 10px;
}

div#teacher div#overview h3 {
	margin-top: 0;
}

div#teacher div#detail {
	margin-top: 30px;
}

div#teacher div#detail div.section {
	margin-bottom: 20px;
}