div#container div#content ul#courses > li.course {
	border-bottom: 1px dotted #ccc;
	list-style: none;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

div#container div#content ul#courses > li.course h4 {
	height: 20px;
	margin-top: 0;
	overflow: hidden;
}

div#container div#content ul#courses > li.course h4 > a {
	color: #333;
	text-decoration: none;
}

div#container div#content ul#courses > li.course p.introduction {
	color: #666;
	font-size: 13px;
	height: 40px;
	overflow: hidden;
}

div#container div#content ul#courses > li.course ul.meta {
	color: #6db33f;
	font-size: 13px;
}

div#container div#content ul#courses > li.course ul.meta a {
	color: #6db33f;
	text-decoration: none;
}