div#content div.row-fluid {
	margin-bottom: 10px;
}

div#content div.row-fluid.text-right {
	margin-top: 20px;
}

div#content div.row-fluid label {
	font-weight: bold;
}

div#content div.row-fluid textarea {
	resize: none;
	width: 575px;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	div#content div.row-fluid textarea {
		width: 500px;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	div#content div.row-fluid input#name,
	div#content div.row-fluid input#email {
		margin-bottom: 10px;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	div#content div.row-fluid select {
		width: 375px;
	}

	div#content div.row-fluid input,
	div#content div.row-fluid textarea {
		width: 360px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	div#content div.row-fluid select {
		width: 335px;
	}

	div#content div.row-fluid input,
	div#content div.row-fluid textarea {
		width: 320px;
	}
}